/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
// End OF RESETTTTTTTT
$grey: #f6f6f6;
$green: #a2b9ae;
@media (max-width: 400px) {
body{
  font-family: 'Raleway', sans-serif;
}
a {
  text-decoration: none;
  color: $green;
}
.phoneWarning{
	display: none;
}
.container{
  border: 1px solid black;
  height: 667px;
  width: 375px;
  background: $grey;
  header {
    display: block;
    width: 90%;
    border-bottom: 1px solid #dfdfdf;
    margin-left: auto;
    margin-right: auto;
    height: 55px;
    padding-bottom: 10px;
		.fa{
			font-size: .4em;
			padding-left: 1px;
			color: black;
			opacity: .5;
		}
    .header {
      font-size: 2em;
      display: inline-block;
      width: 49%;
      // margin: 0;
      margin-left: 100px;
      color: $green;
      padding: 25px 0px 5px 0px;
    }
    .newApt {
      font-size: 2.5em;
      display: inline-block;
      width: 20%;
      margin-right: 0;
      color: $green;
    }

  }

}
::-webkit-input-placeholder{
	font-family: FontAwesome;
	text-align: right;
}
.search {
	// position: fixed;
  margin-top: 10px;
  // padding-top: 10px;
  padding-left: 20px;
  padding-bottom: 20px;
	// box-shadow: 0px 5px 5px $green;
	z-index: 100;

  .searchBox {

    text-align: left;
    font-size: 1.2em;
    height: 30px;
    width: 90%;
    padding-right: 10px;
		opacity: .5;
    // padding-top: 10px;
  }
}
.content {
	overflow-y: auto;
	height: 80%;
	z-index: -1;
}
.weather{
  display: inline-block;
  width: 20%;
  // border-top: 1px solid white;
  // border-bottom: 1px solid white;
  // border-left: 1px solid white;
  height: 85px;
  background: $green;
  margin-top: 40px;
  margin-right: -5px;
  margin-left: 20px;
	// box-shadow: 0px 5px 20px $green;


  .time {
    font-size: 20px;
    font-weight: 700;
    color: white;
    padding-bottom: 5px;
    text-align: center;
  }
}
a{
	z-index: 0;
}
.appointment {
  display: inline-block;
  vertical-align: top;
  height: 85px;
  width: 65%;
  margin-left: 0;
  margin-right: auto;
  // border: 1px solid white;
  margin-top: 40px;
  margin-bottom: 10px;
  background: white;
	z-index: -1;
	// box-shadow: 0px 5px 20px $green;


  .aptContent {
    display:inline-block;
    color: green;
    width: 100%;
    margin-left: 20px;
    .aptTitle{
      width: 100%;
      font-size: 1.3em;
      font-weight: 700;
      color: #666;
      margin-top: 10px;
    }
    .location{
      font-size: .9em;
      opacity: .5;
      color: #666;
      margin-top: 15px;
    }
  }
}
.date{
  color: #666;
  width: 100%;
  text-align: center;
  font-size: 1.3em;
  opacity: .5;
  padding-top: 40px;

}
}
@media (min-width: 401px){
	.phoneWarning{
		display: block;
		font-size: 3em;
		margin-left: auto;
		margin-right: auto;
		text-align: center;
		color: $green;
		.fa-anchor{
			font-size: .3em;
			color: black;
			opacity: .5;
		}
		h1{
		box-shadow: 0px 5px 20px $green;
	}


	}
	.container{
		display:none;
	}
}
