$textColor:#666;
$seafoamColor:#A2B9AE;
$fontRaleway:Raleway,sans-serif;

body{
  font-family: $fontRaleway;

}

.wrapper{
  border:solid 1px $textColor;
  border-radius: 5px;
  height:667px;
  width:375px;
  margin: 5px;
}

.header{
  color:$textColor;
  font-size: 25px;
  font-weight: lighter;
  font-family: $fontRaleway;
  text-align: center;
  padding-top: 15px;
  width:90%;
  height:50px;
  border-bottom:  solid 1px $textColor;
  border-color: $textColor;
  margin: 0px auto;
}

.v{
  text-align: left;
  margin-right:50px;
  font-size: 40px;
  color: $seafoamColor;
}

a{
  text-decoration: none;
  color: $seafoamColor;
}

.newAppointmentTitle{
  text-align: center;
  margin-right: 35px;
}

.greyText{
  font-family: $fontRaleway;
  font-size: 20px;
  text-align: left;
  color:$textColor;
  font-weight: 100;
  opacity:.5;
  padding-top: 15px;
  padding-left: 45px;
  padding-bottom: 5px;

}

::-webkit-input-placeholder{
  font-family: FontAwesome;
  text-align: right;
}


.textBoxTitle, .textBoxStreet, .textBoxCityState, .textBoxDate, .textBoxTime{

  color:$textColor;
  opacity:.5;
  width:80%;
  height:40px;
  margin-left: 10%;
  font-size: 2em;
  text-align: left;
  padding-right: 10px;
  // font-family: $fontRaleway;
}

.horizontalDivider{
  height: 2px;
  width:90%;
  margin-top: 10px;
  margin-bottom: 10px;
  opacity:.5;
  border-bottom:  solid 1px $textColor;
  border-color: $textColor;
  margin: 12px 5% 14px 5%;
}

.fa{
  color:$textColor;
}

.saveAptButton{
  background-color: $seafoamColor;
  width:375px;
  height:45px;
  margin-top: 28px;
  border-radius: 0 0 5px 5px;
  color:white;
  text-align: center;
  font-family: $fontRaleway;
  font-size: 25px;
  padding-top:19px;
  a{
    color: white;
    text-decoration: none;
  }
}
