/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
// End OF RESETTTTTTTT


$grey: #f6f6f6;
$green: #a2b9ae;
body{
  font-family: 'Raleway', sans-serif;
}
.container{
  position: relative;
  border: 1px solid black;
  //border-bottom: none;
  height: 667px;
  width: 375px;
  // background: $grey;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  .aptHeader {
    // display: inline-block;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    border-bottom: 1px solid #666;
    height: 55px;
    //padding-top:25px;
    padding-bottom: 10px;
    opacity: .5;
		a{
			text-decoration: none;
			color: $green;
		}
    .backButton {
      // color: red;
      display: inline-block;
      font-size: 2em;
      width: 15%;
      padding-top:25px;

    }
    .aptName{
      display: inline-block;
      width: 60%;
      font-size: 1.5em;
      padding-top:25px;
      margin-left: 30px;
    }
  }
.aptContent{
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  .dateTime{
    // text-align: center;
    margin-top: 50px;
    font-size: 1.5em;
    font-weight: 700;
    opacity: .5;
  .time{
    color: $green;
    font-weight: 400;
    opacity: 1;

   }
  }
  .aptLocation{
    margin-top: 50px;
    // text-align: center;
    font-size: 1.5em;
    opacity: .5;
  }
  .map{
    justify-content: center;
    width: 70%;
    margin-top: 16px;
  }
 }
 .forcast {
   display: block;
   width: 92%;
   height: 20%;
   margin-top: 25px;
  //  margin-left: auto;
  //  margin-right: auto;
  //  border: 1px solid black;
   background: $grey;
	 //overflow: auto;
   .icon{
     display: inline-block;
     width: 15%;
     margin-top: 8px;
   }
   .forcastDetails {
     display: inline-block;
     font-size: 1.5em;
     opacity: .5;
     vertical-align: top;
     padding-top: 15px;
    //  font-weight: 700;
     width: 70%;
    //  text-align: center;
     margin-right: 0;
   }
 }
 .editApt{
   position: absolute;
   width: 100%;
   height: 75px;
   background: #9e3863;
   border: 1px solid #9e3863;
   vertical-align: baseline;
   bottom: 0;
   left:0;
   width: 375px;
   border-bottom-right-radius: 5px;
   border-bottom-left-radius: 5px;
	 a{
		 text-decoration: none;
		 color: white;
	 }
   .edit{
     text-align: center;
     font-size: 2em;
     font-weight: 700;
     color: white;
     margin-top: 5%;
   }

 }
}
